In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime

#read in data
dfComplete = pd.read_csv("dublinbikes_20200101_20200401.csv")
def preprocessStation(stationID):
    #select station by ID
    dfStation = dfComplete.loc[dfComplete['STATION ID'] == stationID]
    #drop unwanted features
    dfStation = dfStation.drop(columns=['STATION ID', 'BIKE STANDS','STATUS','ADDRESS','LATITUDE','LONGITUDE','NAME','LAST UPDATED','AVAILABLE BIKE STANDS'])
    #delete alternating rows
    dfStation = dfStation.iloc[::2]
    #change datatype to datetime64
    dfStation["TIME"] = dfStation["TIME"].astype("datetime64")
    return dfStation

dfPortobello = preprocessStation(34)
dfSLS = preprocessStation(21)

In [2]:
print(dfSLS.info())
dfSLS

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10185 entries, 2855 to 2201781
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TIME             10185 non-null  datetime64[ns]
 1   AVAILABLE BIKES  10185 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 238.7 KB
None

                       TIME  AVAILABLE BIKES
2855    2020-01-01 06:25:02                1
2857    2020-01-01 06:35:02                1
2859    2020-01-01 06:45:02                1
2861    2020-01-01 06:55:02                1
2863    2020-01-01 07:05:02                2
...                     ...              ...
2201773 2020-04-01 23:15:02                6
2201775 2020-04-01 23:25:02                6
2201777 2020-04-01 23:35:02                6
2201779 2020-04-01 23:45:02                6
2201781 2020-04-01 23:55:02                6

[10185 rows x 2 columns]